body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a0d0d;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Space between elements */
    margin-top: 50px; /* Adjust as needed to center vertically */
    background-color: transparent;
}

#movieList {
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Space between form fields */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1); /* Slightly transparent border */
}

input[type="email"], input[type="password"], button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    width: 90%; 
    
}
#loginForm, #registerForm {
    display: none;
}


button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
     margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.delete {
    /* Style properties for your delete button */
    background-color: #007bff;
    background-clip: border-box;
    -webkit-text-fill-color: initial;
    color: white;
    border: none; 
    cursor: pointer; /* Example */
    width: auto;
    height: 36px;
    margin-left: 25px;
}
#movieList #myList ol {
    font-size: 28px;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}
   


#newMovieName{
    margin: 10px 10px 0px 0px;

    border-radius: 5%;
    width: 200px;
    height: 25px;
}


@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.slide-in {
    animation: slideInFromRight 0.3s ease-out forwards;
}

